.form-div {
  max-width: 400px;
  padding: 0 30px 20px 30px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 0px 8px rgb(107, 85, 98);
  margin: 30px auto;
}


form {
  display: flex;
  flex-direction: column;
}

.new-car-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.new-car-img {
  max-width: 350px;
}

.new-car-input {
  padding: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #9f9f9f;
  background-color: #d5d5d5;
  border-radius: 4px;
}

/* Make the description input resizable */
.new-car-input#description {
  resize: vertical;
}

.new-btn-container {
  display: flex;
  justify-content: space-evenly;
}

.new-car-btn {
  background-color: #e1080b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
}

.new-car-btn:hover {
  background-color: #9b090b;
}

@media screen and (max-width: 600px) {
  .form-div {
    max-width: 300px;
  }
  .new-car-img {
    max-width: 240px;
  }
  
}
