.home-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.postimg.cc/C1hx5Hf9/DRIVING-DREAMS-FORGING-EXCELLENCE.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}



