.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: calc(100vh - 125px);
}

.login-section { 
    margin: 30px auto;
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(107, 85, 98);
}

.welcome-div {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
}


.welcome-text-1 {
    color: #e1080b;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size:  40px;
    font-weight: 600;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
}

.login-form {
    text-align: center;
}

.my-button {
    font-size: 20px;
    padding: 14x;
    border-radius: 8px;
    border: 1px solid #9f9f9f;
    margin: 1%;
    width: 250px; 
    height: 40px;
    background-color: #e1080b;
    color: white;
    cursor: pointer;
}

.my-button:hover {
    background-color: #9b090b;
}

.login-input {
    display: flex;
    border: 1px solid #9f9f9f;
    width: 250px; 
    background-color: #d5d5d5;
    height: 40px; 
    border-radius: 10px; 
    padding: 10px; 
    cursor: pointer;
}

.login-text {
    padding: 2px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size:  14px;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .login-section { 
      max-width: 350px;
    }
  }