.not-found-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.not-found-container img {
    max-width: 60%;
    height: auto;
    padding: 5%;
}

@media screen and (max-width: 600px) {
    .not-found-container img {
        max-width: 80%;
    }
  }