.card-container {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgb(107, 85, 98);
    height: 250px;
    width: auto;
    box-sizing: border-box; 
}

.card-image-container {
    display: flex;
    justify-content: center;
    border: 3px solid #636365;
    border-right: none;
    border-radius: 10px;    
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 140px;
    height: 250px;
    overflow: hidden;
}

.card-image-container img {
    width: auto;
    height: 250px;
}

.card-text-container {
    border: 3px solid #e1080b;
    border-collapse: collapse;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 10px;
    height: 250px;
    width: 200px;
}

.card-text-padding-container {
    margin: auto;
    padding: 10px;
}

.card-text-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

.card-text-container h5 {
    font-weight: bold;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15ch;
}

.card-text-container span {
    margin-left: 20px;
}

.card-text-desc-container span {
    font-weight: bolder;
    margin-left: 0px;
}

.card-text-button-container {
    text-align: right;
}

.card-text-button-container button {
    color: white;
    border-radius: 10px;
    background-color: #636365;
}

.card-text-button-container button:hover {
    color: #636365;
    border-radius: 10px;
    background-color: white;
}
