
.header {
    background-color: #636365;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    z-index: 2;
    box-shadow: 0px 0px 8px rgb(107, 85, 98);
    overflow: hidden;
}
.links {
    padding-top: 2vh;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.links * {
    box-sizing: border-box;
    transition: all .35s ease;
}
.links li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
}
.link {
    color: white;
    padding: .5em .8em;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}
.link::before,
.link::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}
.link::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #FFFFFF;
    border-right: 3px solid #FFFFFF;
    transform: translate(-100%, 50%);
}
.link::after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #FFFFFF;
    border-left: 3px solid #FFFFFF;
    transform: translate(100%, -50%)
}
.link:hover:before,
.link:hover:after{
  transform: translate(0,0);
  opacity: 1;
}
.link:hover {
    color: #e1080b;
  }
.logo{
    margin-left: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-img{   
    background-size: cover;
    min-height: 3rem;
    max-height: 4rem;
}

.menuItems {
    display:flex;
    list-style: none;
}

.menu-btn {
    display: none;
}

@media screen and (max-width: 1025px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .links {
        position: absolute;
        right: 0;
        margin-right: 3%;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        z-index: 3;
    }

    .link:hover {
         color: #636365;
    }
    .menu-btn {
        display: block;
        cursor: pointer;
        z-index: 4;
        align-items: flex-end;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #e1080b;
        padding: 20px 20px;
        box-shadow: 0px 0px 8px rgb(107, 85, 98);
    }

    .menuOpenBox {
        display: flex;
        z-index: 3;
    }
}